<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <img src="{{avatarImagePath}}" width="115" height="115" class="img-responsive" alt="Profile Avatar">
                    <h1>Dmytro Reheta</h1>
                    <h4>.NET Software Engineer</h4>
                    <p class="intro">High-motivated and experienced programmer. <br/>Who always focused on searching the best way of doing tasks and possible solutions.</p>
                    <a href="#" class="btn btn-fill btn-large btn-margin-right">More</a> <a href="#" class="btn btn-accent btn-large">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>